

  <% if (page.total > 1){ %>
  <nav id="page-nav">
    <%- paginator({
      prev_text: '&laquo; Prev',
      next_text: 'Next &raquo;',
      mid_size:0,
      end_size:0,
      space:"",
      current:false
    }) %>
  </nav>
<% } %>